@font-face {
  font-family: "DIN Pro";
  src: url("DINPro.woff2") format("woff2"), url("DINPro.woff") format("woff"),
    url("DINPro.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Indian Strength";
  src: url("IndianStrengthPersonalUse.woff2") format("woff2"),
    url("IndianStrengthPersonalUse.woff") format("woff"),
    url("IndianStrengthPersonalUse.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
